S2/LU2IN022/Examen/2023/libmus.dtd

<!ELEMENT music-library (album, artiste)+ >
<!ELEMENT album (titre, genre, descr?) >
<!ELEMENT artiste (nom, contact) >

<!ELEMENT titre (#PCDATA) >
<!ELEMENT genre (#PCDATA) >
<!ELEMENT descr (#PCDATA) >

<!ELEMENT nom (#PCDATA) >
<!ELEMENT contact (#PCDATA) >


<!ATTLIST album 
    id ID #REQUIRED
    artiste IDREF #REQUIRED
    annee CDATA #REQUIRED
>

<!ATTLIST artiste 
    id ID #REQUIRED
>