S2/LU2IN022/Examen/2ses-2023/ebout.dtd

<!ELEMENT eboutique (categorie*) >
<!ELEMENT categorie (article*)>
<!ELEMENT article (media, genre+, descrition, mot-clef+) >

<!ELEMENT media Empty >
<!ELEMENT genre (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT mot-clef (#PCDATA)>

<!ATTLIST categorie
    id CDATA #REQUIRED
    libelle CDATA #REQUIRED
>

<!ATTLIST article
    id CDATA #REQUIRED
    prix CDATA #REQUIRED
    stock CDATA #REQUIRED
>

<!ATTLIST media 
    url CDATA #IMPLIED
>